/*Carousel*/

.carousel{
   width: 100%;
   max-width: 700px;
   margin: 15px auto;
}

.carousel .carousel-item{
   display: none;
}

.carousel .carousel-item-hidden{
   display: none;
}

.carousel .carousel-item-visible{
   display: block;
   animation: fadeVisibility 1.5s;

}

.carousel .carousel-item img{
   width: 100%;
   max-width: 100%;
   height: 450px;
   object-fit: contain;
   margin: 0 auto;
}

.carousel .text{
   color: #f2f2f2;
   font-size: 20px;
   font-weight: 900;
   padding: 8px 12px;
   position: absolute;
   bottom : 8%;
   width: 100%;
   text-align: center;
}

/*
.carousel-actions{
   display: flex;
   justify-content: space-between;
   position: absolute;
   width: 100%;
   top : 50%;
   transform: translateY(-50%);
}

.carousel-actions button{
   border: none;
   border-radius: 40px;
   padding: 10px;
   width: 50px;
   height: 50px;
}

.carousel-actions button i{
   font-size: 30px;
}

.carousel-actions button#carousel-button-prev{
   margin: 20px;
}

.carousel-actions button#carousel-button-next{
   margin: 20px;
}
*/

.carousel-nav{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 10px;
   margin-bottom: 50px;
}

.dot{
   height: 15px;
   width: 15px;
   margin: 0 5px;
   color: #fff;
   text-align: center;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
}

.active{
   background-color: #000;
}

@keyframes fadeVisibility {
   
   0%{
      opacity: 0;
   }

   100%{
      opacity: 1;
   }
}